<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam culpa fugiat nostrum odio minima, amet necessitatibus ullam quo modi maiores sit omnis corrupti inventore quas quidem minus cumque voluptas commodi?</p>
<form >
    <!-- <input type="email" name="email" (input)="credentials.email = $event.target.value || ''" id="email" placeholder="email"> -->
    <input type="email" name="email" (input)="onEmailInput($event)" id="email" placeholder="email">

    <!-- <input type="password" name="password" [(ngModel)]="credentials.password" placeholder="password"> -->
    <button type="submit">Login</button>
  </form>
  