/* section {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.login-form {
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
    display: flex;
}
.form-group label {
    width: auto;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #555;
} */


/* Style for the header */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
  /* Style for the container */
  .container {
    width: 50%;
    margin: 10px auto;
  }
  
  /* Style for form groups */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style for labels */
  label {
    display: block;
    font-weight: bold;
  }
  
  /* Style for input fields */
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the submit button */
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for the submit button on hover */
  button[type="submit"]:hover {
    background-color: #fff;
    color: #333;
  }
  